n8n-workflows/clawmind-gap-finder.json
{
  "name": "ClawMind \u2014 Knowledge Gap Finder",
  "nodes": [
    {
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        },
        "timezone": "America/Chicago"
      },
      "position": [
        250,
        300
      ],
      "typeVersion": 1,
      "id": "ae91ee97-cf02-4bc7-97bc-c2d9d190c032"
    },
    {
      "name": "Scan All Notes",
      "type": "n8n-nodes-base.readBinaryFiles",
      "parameters": {
        "fileSelector": "=/Users/Jakin/ClawMind/*.md",
        "options": {}
      },
      "position": [
        450,
        300
      ],
      "typeVersion": 1,
      "id": "a0430a66-37c8-4934-bb25-3ba507a1be16"
    },
    {
      "name": "Extract All Links",
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const allNotes = $input.all()[0].json;\nconst wikiLinks = new Set();\nconst existingNotes = new Set();\n\nallNotes.forEach(note => {\n  // Track existing notes\n  const noteName = note.fileName.replace('.md', '');\n  existingNotes.add(noteName);\n  \n  // Extract WikiLinks\n  const content = note.data;\n  const wikiLinkRegex = /\\[\\[([^\\]|]+)\\|?[^\\]]*\\]\\]/g;\n  let match;\n  while ((match = wikiLinkRegex.exec(content)) !== null) {\n    wikiLinks.add(match[1].trim());\n  }\n});\n\n// Find missing links\nconst missing = [...wikiLinks].filter(link => !existingNotes.has(link));\n\nreturn [{\n  totalNotes: allNotes.length,\n  totalLinks: wikiLinks.size,\n  missingLinks: missing,\n  missingCount: missing.length,\n  scannedAt: new Date().toISOString()\n}];"
      },
      "position": [
        650,
        300
      ],
      "typeVersion": 1,
      "id": "af62fac0-7a7b-4ea9-8189-a668f5486c81"
    },
    {
      "name": "Has Missing?",
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.missingCount }}",
            "operator": {
              "type": "number",
              "operation": "gt"
            },
            "rightValue": "0"
          }
        }
      },
      "position": [
        850,
        300
      ],
      "typeVersion": 1,
      "id": "cfe4b7c7-1dfa-4885-8f02-39f92c5707bc"
    },
    {
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timestamp = new Date().toISOString();\n\nconst report = `# Knowledge Gap Report\n\n**Generated:** ${timestamp}  \n**Total Notes:** ${data.totalNotes}  \n**Total WikiLinks:** ${data.totalLinks}  \n**Missing Links:** ${data.missingCount}\n\n## Missing Connections\n\nThe following WikiLinks point to notes that don't exist yet:\n\n${data.missingLinks.map(l => `- [[${l}]]`).join('\\n')}\n\n## Recommendations\n\n1. Create stub notes for critical missing links\n2. Review if any links are typos\n3. Check for orphaned concepts\n\n---\n\n*Auto-generated by ClawMind Gap Finder*\n`;\n\nreturn [{\n  report,\n  missingCount: data.missingCount,\n  timestamp\n}];"
      },
      "position": [
        1050,
        200
      ],
      "typeVersion": 1,
      "id": "55bdd463-d116-4e01-a1ab-39cc1928723a"
    },
    {
      "name": "Save Report",
      "type": "n8n-nodes-base.writeBinaryFile",
      "parameters": {
        "fileName": "=/Users/Jakin/ClawMind/reports/knowledge-gaps-{{ $now.format('YYYY-MM-DD') }}.md",
        "data": "={{ $base64Encode($json.report) }}",
        "options": {}
      },
      "position": [
        1250,
        200
      ],
      "typeVersion": 1,
      "id": "3119e6de-dd12-43ba-8ce3-0d7eddaa7cf9"
    },
    {
      "name": "Notify High Priority",
      "type": "n8n-nodes-base.if",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.missingCount }}",
            "operator": {
              "type": "number",
              "operation": "gt"
            },
            "rightValue": "10"
          }
        }
      },
      "position": [
        1250,
        400
      ],
      "typeVersion": 1,
      "id": "0cc130c0-d5dd-42f1-9d52-612020dd4950"
    },
    {
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "\ud83e\udde0 ClawMind: Found {{ $json.missingCount }} missing WikiLinks in knowledge graph. Report saved to reports/knowledge-gaps-{{ $now.format('YYYY-MM-DD') }}.md",
        "options": {}
      },
      "position": [
        1450,
        400
      ],
      "typeVersion": 1,
      "id": "a3c03f00-38a5-4b9f-9038-e1c7f54c4441"
    },
    {
      "name": "No Gaps",
      "type": "n8n-nodes-base.noOp",
      "parameters": {},
      "position": [
        1050,
        500
      ],
      "typeVersion": 1,
      "id": "102c3a85-48d8-429d-b456-03022d3296f2"
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Scan All Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan All Notes": {
      "main": [
        [
          {
            "node": "Extract All Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Links": {
      "main": [
        [
          {
            "node": "Has Missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Missing?": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify High Priority": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ClawMind \u2014 Error Handler"
  },
  "tags": [
    {
      "name": "clawmind",
      "id": "clawmind-tag"
    },
    {
      "name": "maintenance",
      "id": "maintenance-tag"
    }
  ],
  "active": false,
  "id": "52bfff69-e892-45d0-bab1-9c5d67989876"
}